<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.axboot.domain.company.CompanyMapper">
    <select id="selectBy" resultType="company" parameterType="company" statementType="PREPARED">
        SELECT
            ID AS id,
            COMPANY_NM AS companyNm,
            CEO AS ceo,
            BIZNO AS bizno,
            TEL AS tel,
            ZIP AS zip,
            ADDRESS AS address,
            ADDRESS_DETAIL AS addressDetail,
            EMAIL AS email,
            REMARK AS remark,
            USE_YN AS useYn
            FROM
            COMPANY_M
        <where>
            <if test="companyNm != null and companyNm != ''">
                AND COMPANY_NM = #{companyNm}
            </if>
            <if test="ceo != null and ceo != ''">
                AND CEO = #{ceo}
            </if>
            <if test="bizno != null and bizno != ''">
                AND BIZNO = #{bizno}
            </if>
        </where>
    </select>

    <select id="selectOne" resultType="company" parameterType="Long" statementType="PREPARED">
        SELECT
            ID AS id,
            COMPANY_NM AS companyNm,
            CEO AS ceo,
            BIZNO AS bizno,
            TEL AS tel,
            ZIP AS zip,
            ADDRESS AS address,
            ADDRESS_DETAIL AS addressDetail,
            EMAIL AS email,
            REMARK AS remark,
            USE_YN AS useYn
        FROM
            COMPANY_M
        WHERE ID = #{id}
    </select>

    <insert id="insert" parameterType="company" statementType="PREPARED">
        INSERT INTO COMPANY_M (
            COMPANY_NM,
            CEO,
            BIZNO,
            TEL,
            ZIP,
            ADDRESS,
            ADDRESS_DETAIL,
            EMAIL,
            REMARK,
            USE_YN
        ) VALUES (
            #{companyNm},
            #{ceo},
            #{bizno},
            #{tel},
            #{zip},
            #{address},
            #{addressDetail},
            #{email},
            #{remark},
            #{useYn}
        )
    </insert>

    <update id="update" parameterType="company" statementType="PREPARED">
        UPDATE COMPANY_M
        SET
            COMPANY_NM = #{companyNm},
            CEO = #{ceo},
            BIZNO = #{bizno},
            TEL = #{tel},
            ZIP = #{zip},
            ADDRESS = #{address},
            ADDRESS_DETAIL = #{addressDetail},
            EMAIL = #{email},
            REMARK = #{remark},
            USE_YN = #{useYn}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="company" statementType="PREPARED">
        DELETE FROM COMPANY_M
        WHERE ID = #{id}
    </delete>

</mapper>